<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zysy.iflytek.coursedemo.sys.mapper.IStudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zysy.iflytek.coursedemo.sys.entity.Student">
        <id column="id" property="id" />
        <result column="mobile" property="mobile" />
        <result column="user_name" property="userName" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!--<foreach collection="idList" item="id" open="and("close = ")" separator="or">
        id=#{id}
    </foreach>-->



    <select id="SelectStudentList" resultType="zysy.iflytek.coursedemo.sys.entity.Student">
        select * from sys_student
    </select>

    <insert id="insertOne" parameterType="zysy.iflytek.coursedemo.sys.entity.Student">
        insert into sys_student(mobile,user_name,sex,age,is_deleted,create_time,update_time)
        values(#{mobile},#{userName},#{sex},#{age},#{isDeleted},#{createTime},#{updateTime})
    </insert>

    <select id="selectById" resultType="zysy.iflytek.coursedemo.sys.entity.Student">
        select * from sys_student where id=#{id}
    </select>

    <delete id="deleteById" parameterType="zysy.iflytek.coursedemo.sys.entity.Student">
        delete from sys_student where id=#{id}
    </delete>

    <update id="UpdateById" parameterType="zysy.iflytek.coursedemo.sys.entity.Student">
        update sys_student set user_name=#{userName},update_time=#{updateTime},
               mobile=#{mobile},sex=#{sex},age=#{age} where id=#{id}
    </update>

    <resultMap id="StudentCourseResultMap" type="zysy.iflytek.coursedemo.vo.StudentCourseVO" extends="BaseResultMap">
        <collection property="courseList" columnPrefix="crs_" resultMap="zysy.iflytek.coursedemo.edu.mapper.ICourseMapper.BaseResultMap"/>
    </resultMap>

    <select id="courseList" resultMap="StudentCourseResultMap">
    SELECT stu.*, ec.*, crs.id crs_id, crs.course_id crs_course_id, crs.student_id crs_student_id,
    crs.create_time crs_create_time, crs.update_time crs_update_time, crs.course_status crs_course_status,
    crs.sort crs_sort, crs.is_deleted crs_is_deleted, ec.course_name crs_course_name,ec.course_cno crs_course_cno,ec.parent_id crs_parent_id,ec.recruits_plan
    crs_recruits_plan,ec.teacher_id crs_teacher_id,ec.recruits_request crs_recruits_request,ec.recruits_actual crs_recruits_actual,ec.is_valid crs_is_valid
    FROM sys_student stu
    LEFT JOIN edu_course_studyhistory crs ON crs.student_id = stu.id
    left join edu_course ec on ec.id = crs.course_id
    WHERE stu.id=#{Id}
    </select>

</mapper>
