<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zysy.iflytek.coursedemo.edu.mapper.ICourseStudyhistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="zysy.iflytek.coursedemo.edu.entity.CourseStudyhistory">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="student_id" property="studentId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="course_status" property="courseStatus" />
        <result column="sort" property="sort" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
